- name: install pip
  apt:
    name: python3-pip
    state: present
    update_cache: yes

- name: install docker python module
  apt:
    name: python3-docker
    state: present

- name: pip install docker-compose
  pip:
    name: docker-compose
    executable: pip3

- name: run container
  docker_container:
    name: wartest
    image: "{{ image }}"
    ports: 
      - "8081:8080"
    state: started
 
